
.html, body
{
    overflow: hidden;
}

.Map
{
    position: absolute;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;

    image-rendering: -moz-crisp-edges;    /* Firefox */
    image-rendering: -webkit-crisp-edges; /* Webkit (Safari) */
    image-rendering: pixelated;           /* Chrome */
}